<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% seo %}
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon-16x16.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/apple-touch-icon.png" | relative_url }}">

    <!-- RSS -->
    {% feed_meta %}
  </head>

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          {%- for page in site.header_pages -%}
            {%- assign item = site.pages | where: "path", page | first -%}
            <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
          {%- endfor -%}
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author }}
      </span>
    </footer>
  </body>
</html>
